useDynLib(Roryza, .registration=TRUE)
import(methods, Rcpp, meteor)
exportMethods("crop<-", "soil<-", "control<-", "weather<-", "run")
export(oryza, oryza_model, oryza_crop, oryza_soil, oryza_control)
export(oryza_fse, oryza_fse_prepare, oryza_read_res, oryza_write_weather, oryza_compare_res)
