useDynLib(Roryza, .registration=TRUE)
import(methods, Rcpp, meteor)
importFrom(stats, predict)
exportMethods("crop<-", "soil<-", "control<-", "weather<-", "run", "predict")
export(oryza, oryza_model, oryza_crop, oryza_soil, oryza_control)
